.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}


.type-scroll {
  margin-bottom: 20px;
}

.task-page {
  margin-top: 20px;
}

.task-card {
  width: 345px;
  margin: 0 auto;
}

.tag {
  margin-left: auto;
  margin-right: 0;
}